.form-horizontal {
  .col-md-6{
    label{
      margin-top: 5px;
      vertical-align: middle;
    }
  }
  .control-label {
    padding-top: 22px;
    .require {
      padding-left: 3px;
      width:7px;


    }
  }
}







